* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #674baf;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-position: top;
    background-size: contain;
  }
}

.hero {
  width: 90%;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.intro-content img {
  width: 50%;
}

.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
  color: white;
}

.intro-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 500px;
}

.intro-text p {
  font-weight: 400;
  max-width: 500px;
}

.intro-text button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 55rem;
  padding: 0.8rem 3.5rem;
  color: #674baf;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.intro-text button:hover {
  cursor: pointer;
  background-color: #e882e8;
  color: white;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 2rem;
}

.social a i {
  color: white;
  font-size: 1.5rem;
}

.social a i:hover {
  color: #e882e8;
}

.social a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
}

.social a:hover {
  border: 1px solid #e882e8;
}

@media only screen and (max-width: 768px) {
  .hero {
    gap: 3rem;
  }
  .logo {
    width: 10rem;
  }
  .intro-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-content img {
    width: 80%;
  }
  .intro-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 2rem;
  }
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */